.container{
  /* border: 2px solid black; */
  margin-top: 2%;
}
.container tr th{
  text-align: center;
  /* margin: 0 auto; */
}
.container tr td{
  border-bottom: 2px solid black;
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top-color: #09f;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spinner-rotate 1s linear infinite;
  }
  
  @keyframes spinner-rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .table-1{
    width:90%;
    border:2px solid black;
    margin: 0 auto;
}
.td{
    padding: 8px;
}
.td .th{
    border-right: 4px;
}
.thead .tr .th{
    padding: 12px;
    text-align: center;
}
.td .tr{
    border-right: 4px;
} 